@media (min-width:1000px) {
    .sale {
        margin-top: 150px;
    }
    .bigProdukt {
        display: grid;
        position: relative;
        justify-content: center;
        top: 70px;
        height: 300vh;
    }
    .kalenderFilter{
        max-width: 688px;
    }
    .release{
        max-width: 350px;
    }
    .mainKalender {
        display: grid;
        position: relative;
        justify-content: center;
    }
    .kalenderItems {
        display: flex;
    }
}
@media (min-width:1500px) {
    .sale {
        margin-top: 300px;
        height: 70vh;
        display: flex;
        position: relative;
        justify-content: center;
    }
    .imgSale {
        display: grid;
        min-width: 900px;
        min-height: 900px;
    }
    .category {
        top: 500px;
    }
    .imgCategory {
        min-height: 425px;
    }
    .brands {
        top: 750px;
    }
    .imgBrands {
        min-height: 130px;
    }
    .bigProdukt {
        display: grid;
        position: relative;
        justify-content: center;
        top: 70px;
    }
}
@media (min-width:4000px) {
    .sale {
        margin-top: 450px;
    }
}
.nokkelord {
  margin-top: 150px;
}
.nokkelord a {
  color: black;
}

.endringer a {
  color: black;
}

body {
    margin: 0%;
}
.header {
    background-color: black;
    color: white;
    text-align: center;
    height: 5vh;
    padding-top: 7%;
}

.sale {
    text-align: center;
    height: 37.5vh;
    margin: 15px;
    margin-top: 75px;
    margin-bottom: 0;
    display: flex;
    position: relative;
    justify-content: center;
}

.category {
    text-align: center;
    height: 20vh;
    margin: 15px;
    margin-bottom: 0;
    display: flex;
    position: relative;
    justify-content: center;
}

.brands {
    text-align: center;
    height: 12.5vh;
    margin: 15px;
    margin-bottom: 0;
    display: flex;
    position: relative;
    justify-content: center;
}

.imgMenu{
    height: 100%;
}

#imgMenu {
    float: left;
    padding-left: 30px;
}

#imgSearch {
    float: right;
    padding-right: 30px;
}

.imgSale {
    height: 100%;
}

.imgCategory {
    height: 90%;
    padding: 10px;
}

.imgBrands {
    height: 50%;
    padding: 10px;
}

.kalenderFilter {
    background-color: darkgray;
    color: white;
    margin: 15px;
    margin-bottom: 0;
    height: 15vh;
    text-align: center;
    padding-top: 2.5vh;
}

.mainKalender {
    margin-top: 15vw;
}

.kalenderKnapper {
    float: left;
    margin-left: 60px;
    height: 3vh;
    background-color: black;
}

#releaseText {
    margin-left: 90px;
    margin-right: 90px;
    height: 3vh;
    background-color: black;
}

.release {
    background-color: darkgray;
    color: white;
    margin: 15px;
    margin-bottom: 0;
    text-align: center;
}

.releaseText {
    margin-left: 90px;
    margin-right: 90px;
    height: 3vh;
    background-color: black;
}

.bigProdukt {
    background-color: none;
    color: white;
    height: 35vh;
    margin: 15px;
    margin-bottom: 0;
    text-align: center;
}

.bigImage {
    height: 100%;
}

.rows {
    background-color: white;
    height: 10vh;
    margin: 15px;
    margin-bottom: 0;
}

.rowImage {
    height: 100%;
    padding: 12px;
}

#border {
    border: 5px solid #555;
}

.shoeInfo {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px
}

.venstre {
    float: left;
}

.hoyre {
    float: right;
}

.button {
    background-color: black;
    color: white;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    height: 7vh;
    padding-top: 5vh;
}

.footer {
    margin-top: 50px;
    background-color: black;
    height: 30vh;
}





.menu-icon{

   position: relative;
   display: flex;
   float: right;

}


a {
    color: white;
  }



  .header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;

  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 0px 20px;
    text-decoration: none;
  }



  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }



  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 0px 20px;
    padding-right: 60px;
    position: relative;
    user-select: none;
  }
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;

  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }



  .header .menu-btn {
    display: none;

  }

  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }



  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

